<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor para centrar el logo -->
  <div style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
    <img src="../../../assets/img/Icon.png" alt="Logo" style="height: 100px; width: 100px;">
  </div>
  
  <!-- Contenedor principal con márgenes para separar del toolbar -->
  <div style="margin-top: 30px; padding: 25px; display: flex; align-items: center; justify-content: center; width: 100%;">
    <ion-list style="width: 100%; max-width: 400px;">
      <ion-item>
        <ion-input [(ngModel)]="usuario" label="Usuario:" placeholder="Ingrese Usuario" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="contrasena" type="password" label="Contraseña:" placeholder="Ingrese Contraseña"></ion-input>
      </ion-item>
      <!-- Botón de Iniciar Sesión con margen inferior -->
      <ion-button expand="block" (click)="validar()" style="margin-bottom: 15px;" color="warning">Iniciar Sesión</ion-button>
      <!-- Botón de Registro con margen superior -->
      <ion-button expand="block" style="margin-top: 25px;" color="warning">Registro</ion-button>
    </ion-list>
  </div>
</ion-content>
